#messages ul { list-style-type: none; }

h1, h2, h3 { text-transform: capitalize; }
h1 a { text-decoration:none; }

.inline { display:inline-block; }
ul.inline { padding-left: 0; }
.inline li { display:inline-block; margin-right: 5px; }
.clear { width:100%; }

.hide { display:none; }

/* pad layout */

.half, otherHalf { display:inline-block; margin-right: 24px; }

.push-1 { margin-left:144px; }
.push-2 { margin-left:264px; }
.push-3 { margin-left:408px; }
.push-4 { margin-left:552px; }

.one { width:120px; margin-right:24px; }
.two { width:264px; margin-right:24px; }
.three { width:408px; margin-right:24px; }
.four { width:552px; margin-right:24px; }
.five { width:696px; }

.half { width:264px; }
.otherHalf { width:408px; }

.full, h1, h2, h3 { width:696px; }

.grid { background:url('/img/grid-5.png'); width:768px; height:100%; z-index:-9; display:block; position:absolute; left:0; top:0; }

body { padding: 60px 36px 0;width: 696px; }

/* mobile layout */

@media only screen and (max-width: 767px) {
  
  .push-1 { margin-left:0px; }
  .push-2 { margin-left:0px; }
  .push-3 { margin-left:0px; }
  .push-4 { margin-left:0px; }

  .two { margin-right:0; margin-left:0px!important;}
  .three { width:264px; margin-right:0x; }
  .four { width:264px; margin-right:0px; }
  .five { width:264px; margin-right:0px; }
  .six { width:264px; margin-right:0px; }
  .seven { width:264px; margin-right:0px; }
  .eight { width:264px; }

  /* don't support halves on such a small layout */
  .half { width:264px; }
  .otherHalf { width:264px; }

  .full, h1, h2, h3 { width:264px; }

  .grid { background:url('/img/grid-2.png'); width:320px; }

  body { padding: 48px 28px 0; width: 264px; }
  
}

/* desktop layout */
@media only screen and (min-width: 1224px) {
  
  .five { margin-right: 24px; }
  .six { width: 840px; margin-right: 24px; }
  .seven { width: 984px; margin-right: 24px; }
  .eight { width: 1128px; }

  .half { width:552px; }
  .otherHalf { width:552px; }

  .full, h1, h2, h3 { width:1128px; }

  .grid { background:url('/img/grid-8.png'); width:1224px; }

  body { padding: 72px 48px 0; width: 1128px; }
  
}

/* images */

body { background:url(/img/bg-top.png); background-repeat:repeat-x; }
#dotEffects { background:url(/img/doteffects-com.png);height:150px; }
#etherealFx { background:url(/img/etherealfx-com.png);height:150px; }
.levelStudios { background:url(/img/favicon-map-level-studios-com-29.980-14.700-16.png);height:400px; }
.mindbodyOnline { background:url(/img/favicon-map-mindbodyonline-com-2.653-29.920.128.png);height:400px; }
.expertsExchange { background:url(/img/favicon-map-experts-exchange-com-15.833-17.513-432.png);height:400px; }
.iPromote { background:url(/img/favicon-map-ipromote-com-19.233-26.287-48.png);height:400px; }
.iFixit { background:url(/img/favicon-map-ifixit-com-23.253-1.093-96.png);height:400px; }
.shopatron { background:url(/img/favicon-map-shopatron-com-13.167-23.273-144.png);height:400px; }

/* buttons */

a.button, input[type='submit'], button { display:inline-block; font-size: 1em; border: 1px solid #888; text-decoration: none; color: #fff; line-height: 1.4em; margin: 3px; padding: 1px; text-shadow: 1px 1px 1px #424242; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.12, rgb(125,125,125)),color-stop(0.51, rgb(166,166,166)));background-image:-moz-linear-gradient(center bottom,rgb(125,125,125) 12%,rgb(166,166,166) 51%); }
a.button { padding: 3px 6px; }
a.button:active, input[type='submit']:active, button:active { background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.12, rgb(166,166,166)),color-stop(0.51, rgb(125,125,125)));background-image:-moz-linear-gradient(center bottom,rgb(166,166,166) 12%,rgb(125,125,125) 51%); }

/* login page */
#fbAuth a { text-decoration:none; }
#twitterAuth a, #twitterAuth img { border:0px; }

ul.clean { list-style-type: none; padding-left:0px }

#newsletter, #about, #services, #clients {height:200px;}